[data-theme-version="dark"] {
    .nav-header, 
    .nav-control {
        background-color:$dark-card;
    }

    .nav-control {
        color: $white;
    }

    .brand-logo {
        color: $white;
		border-color:$d-border;

        &:hover {
            color: $white;
        }
    }
	.brand-title{
		svg{
			g{
				fill:$white;
			}
		}
	}
}